$primary: #461220;
// dark purple
$secondary: #8C2F39;
// light purple
$black: #666;
$slightlyDarkerBlack: #000;
$tertiary: #FED0BB;
// light blue
$white: #FFF;

body {
  background-color: $slightlyDarkerBlack;
}

.content, .nav {
  background-color: $white;
}
