$primary: #461220;
$secondary: #8C2F39;
$black: #666;
$slightlyDarkerBlack: #000;
$tertiary: #FED0BB;
$white: #FFF;
$red: #F00;

.content, .pageBanner {
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  color: $slightlyDarkerBlack;
}

.nav {
  background-color: $white;
}

.errormsg {
  color: $red;
}
