* {
  box-sizing: border-box;
}

form {
  display: inline-block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .field {
    height: auto;
    padding: 10px;
    margin: 10px;
  }

  .button {
    width: 100%;
    text-align: left;
  }

  .left {
    width: 20%;
    height: auto;
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }

  .right {
    width: 80%;
    height: auto;
    display: inline-block;
  }

  label {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
  }

  input, textarea {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }

  .checkbox {
    display: inline-block;
    text-align: left;
    margin-left: 20%;
  }

  .checkbox label {
    padding-left: 10px;
  }

  #dark {
    width: auto;
    display: inline-block;
  }

  #delete, #submit {
    margin-left: 20%;
    width: auto;
    padding: 2px;
  }
}
