extends layout

block content
  .nav
    a(href="/new-article") Post a new article
    a(href="/") Home
  .pageBanner
    a(href="/") 
      h3 #{pageTitle}
  for article in allArticles
    .content
      .banner(style="background-image: url(" + article.url + ")")
        a(href="/article/" + article._id)
          h5= article.title
      .tile
        p= article.excerpt
