extends layout

block content
  .nav
    a(href="/") #{pageTitle}
  a(href="/new-article") 
    p Post a new article
  for article in allArticles
    div
      a(href="/article/" + article._id)
        h5= article.title
      p= article.excerpt
