extends layout

block content
  .nav
    a(href="/new-article") Post a new article
    a(href="/") Home
  .pageBanner
    a(href="/") 
      h3 #{pageTitle}
  .content
    .banner(style="background-image: url(" + theArticle.url + ")")
      if theArticle.dark === "on"
        h5(style="color: white") #{theArticle.title}
      else
        h5(style="color: black") #{theArticle.title}      
    .tile
      p= theArticle.body
    .tile
      a(href="/article/" + theArticle._id + "/edit") Edit this article
    
